{% extends "base.html" %}
{% block content %}

<h2>Monthly Report - {{ month }}</h2>

<a href="/download_monthly">
    <button>Download PDF</button>
</a>

<br><br>

<table>
    <tr>
        <th>Date</th>
        <th>Shift</th>
        <th>Fuel</th>
        <th>Litres</th>
        <th>Amount</th>
    </tr>

    {% for s in sales %}
    <tr>
        <td>{{ s['sale_date'] }}</td>
        <td>{{ s['shift'] }}</td>
        <td>{{ s['fuel_type'] }}</td>
        <td>{{ s['quantity'] }}</td>
        <td>{{ s['amount'] }}</td>
    </tr>
    {% endfor %}

    <tr>
        <td colspan="4"><strong>Total</strong></td>
        <td><strong>₹ {{ total }}</strong></td>
    </tr>
</table>

{% endblock %}